services:
  postgres:
    build:
      context: ..
      dockerfile: ./docker/postgres/Dockerfile
    container_name: pibot-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pibot
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/001-init.sql:ro
    restart: unless-stopped
  redis-test:
    image: redis:8.0-rc1
    container_name: redis-test
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    restart: unless-stopped
volumes:
  pgdata:
  redisdata:
